*{
    text-align: center;
}

#rock {
    font-size: 64px;
    background-color: transparent;
    border: none;
}

#scissors {
    font-size: 64px;
    background-color: transparent;
    border: none;
    
}

#paper {
    font-size: 64px;
    background-color: transparent;
    border: none;
}

#rock:hover {
    font-size: 72px;
    transition: .5s;
}

#paper:hover {
    font-size: 68px;
    transition: .5s;
}

#scissors:hover {
    font-size: 68px;
    transition: .5s;
}